.AboutHeroImage {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://wallpapers.com/images/featured/305kescxw5dpup7y.jpg');
    margin-bottom: 50px;
    background-blend-mode: lighten;
    background-position: center;
}
