.HeroImage {
    width: 100%;
    background-size: cover;
    background-position-y: 15%;
    background-repeat: no-repeat;
    background-image: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt79971d6ef53d8a5f/5e8cdeaa07387e0c9bfff0c5/IMAGE_4.jpg');
    margin-bottom: 50px;
    background-blend-mode: lighten;
}
